<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Alumno</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2>Agregar Alumno</h2>
            <form action="#" th:action="@{/guardar}" th:object="${personas}" method="post">
                <input type="hidden" th:field="*{id}" name="id" id="id">
                <div class="form-group">
                    <label for="kenet">Primer Nombre</label>
                    <input type="text" id="nombre" th:field="*{kenet}" name="kenet"
                           class="form-control">
                </div>                
                <div class="form-group">
                    <label for="josue">segundo nombre</label>
                    <input type="text" id="apellido" th:field="*{josue}" name="josue" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ramos">Primer Apellido</label>
                    <input type="text" id="direccion" th:field="*{ramos}" name="ramos" class="form-control">
                </div>
                <div class="form-group">
                    <label for="guzman">Segundo Apellido</label>
                    <input type="text" id="telefono" th:field="*{guzman}" name="guzman" class="form-control">
                </div>
                
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </body>
</html>
